<div class="container-fluid row pt-5 pb-5" style="height: 700px;">
	<div class="col-md-4"> </div>
	<div id="SignUp" class="col-md-4 text-center mt-5 pb-3">
		<form class="sign pt-5 pb-5">
			<h3>Личная информация</h3>
			<label for="email">Почта:</label>
			<input type="text" id="email" name="email" placeholder="John@gmail.com"><br>
			<label for="email">Имя:</label>
			<input type="text" id="email" name="email" placeholder="Джон"><br>
			<label for="email">Фамилия:</label>
			<input type="text" id="email" name="email" placeholder="Траволта"><br>
			<label for="passw">Пароль:</label>
			<input type="password" id="passw" name="passw" ><br><br>
			<input type="submit" value="Редактировать" class="ps-2 pe-2">
		</form>
		<input type="submit" value="Выйти" class="ps-2 pe-2">
	</div>
	<div class="col-md-4"> </div>
	<br> <br> <br> <br>
</div>