@model IEnumerable<Author>;

<div class="container-fluid" style="background-color: white;">
	<div class="row text-center">
		<div class="col-md-2 pt-3 pb-3" id="params">
			<div class="row"> 
				<label class="mt-2 mr-2"> Искать по фамилии:</label> <br>
				<input type="text" name="min" class="mt-2" pattern="/^[A-Za-z]+$/" placeholder="Фамилия">
			</div> <br>
			<div class="row"> 
				<label class="mt-2 mr-2"> Искать по имени:</label> <br>
				<input type="text" name="max" class="mt-2" pattern="/^[A-Za-z]+$/" placeholder="Имя"> 
			</div><br>
			<div class="row"> 
				<label class="col-md-4 mt-2 "> Жанр: </label>
				<select name="genres" id="genres" class="inp mt-2">
					<option value="volvo">Фантастика</option>
					<option value="saab">Роман</option>
					<option value="mercedes">Фэнтези</option>
					<option value="audi">Философия</option>
				</select> </div> <br>
				<div class="row"> 
					<label class="col-md-9 mt-2 ms-1">По&nbsp;убыванию:</label> 
					<input type="checkbox" name="desc" id="check" class="col-md-2 mt-2"> 
				</div> <br>
					<input type="submit" name="settings" value="Применить">
				</div>
		<div class="col-md-8 mt-4 ps-5 ms-5">
			<h2> Представляем Вашему вниманию авторов, чьи книги есть в нашей коллекции:</h2>
			<div class="row ms-5 mt-5"> 
				
				@foreach(var author in Model) 
				{
					<div class="card mb-3 pt-3 me-2" style="width: 18rem;">
						<img src=@Url.Content(author.AvatarImagePath) style="width: 50%" class="card-img-top" alt="...">
						<div class="card-body">
							<h4>@author.FullName</h4> 
							<hr>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				}
				
			</div>	
		</div>
	</div>
</div>
<br> <br> <br> <br> <br> <br> <br> <br>








