<div class="container-fluid">
	<div class="row mb-5">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			<h3 class="pb-3 pt-5 mt-2">История ваших заказов:</h3>
			<table class="mt-5 pb-5 order_history">
				<tr id="firstTr">
					<th>Дата:</th>
					<th>Стоимость:</th>
					<th>Получатель:</th>
				</tr>
				<tr class="pt-2">
					<td>25.05.2022</td>
					<td>5000 KZT</td>
					<td> Нугманова Эльвира</td>
				</tr>
				<tr>
					<td>25.05.2022</td>
					<td>5000 KZT</td>
					<td> Нугманова Эльвира</td>
				</tr>
				<tr>
					<td>25.05.2022</td>
					<td>5000 KZT</td>
					<td> Нугманова Эльвира</td>
				</tr>
			</table>
		</div>
	</div>
</div>