<div class="container-fluid">
	<div class="row pb-0 mb-0 pt-5 mt-4">
		<div class="col-md-8 ms-0">
			<div class="row p-2 ms-4">
				<table class="text-center" id="items">
					<tr>
						<th class="col-md-2">&nbsp;</th>
						<th class="col-md-2">Цена:</th>
						<th class="col-md-2">Кол-во:</th>
						<th class="col-md-2">Стоимость:</th>
						<th class="col-md-2">&nbsp;</th>
					</tr>
					<tr>
						<td>
							<h5> Падение </h5>
							<h6> Альбер Камю</h6>
							<span>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</span> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td>  
							<select name="amount" id="amount" class="text-center">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td> <button class="del"> Удалить </button> </td>
					</tr>

					<tr>
						<td>
							<h5> Падение </h5>
							<h6> Альбер Камю</h6>
							<span>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</span> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td>  
							<select name="amount" id="amount" class="text-center">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td> <button class="del"> Удалить </button> </td>
					</tr>

					<tr>
						<td>
							<h5> Падение </h5>
							<h6> Альбер Камю</h6>
							<span>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</span> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td>  
							<select name="amount" id="amount" class="text-center">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select> 
						</td>
						<td> <h6> 3000 <span> KZT </span> </h6> </td>
						<td> <button class="del"> Удалить </button> </td>
					</tr>

				</table>
			</div>
		</div>
		<div class="col-md-3 ms-5 pt-4 cartItem text-center">
			<h4> Итоговая сумма : 9000 KZT </h4> <hr>
			<p> Сформируем заказ: <span> 28 мая </span> </p>
			<p> Отправим заказ:<span> 1 июня </span> </p>
			<button class="mt-5 p-2"> Оформить заказ </button>
		</div>
	</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br>